<h1>Listing Instructors</h1>

<table>
  <tr>
    <th>Instructor</th>
    <th>Options</th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.email %></td>
	<td><%= link_to "Destroy", admin_destroy_user_path(user), method: :delete, data: { confirm: "Are you sure?" } %></td>
  </tr>
  <% end %>
</table>
