<h1>Editing waiver</h1>

<%= render 'form' %>

<%= link_to 'Show', @waiver %> |
<% if admin_signed_in?%>
  <%= link_to 'Back', waivers_path %>
<% elsif user_signed_in? %>
  <%= link_to 'Back', course_path(@waiver.course_id) %>
<% end %>
