<div class="jumbotron">
	<div class="container">
		<h1>MCIT Waivers</h1>
	</div>
</div>

<div class="container">
	<h2>I am a...<h2>

	<div class="row">
		<div class="col-md-4">
			<p>
				<%= link_to "Student", new_waiver_path, class: "btn btn-lg btn-default btn-block" %>
			</p>
		</div>

		<div class="col-md-4">
			<p>
				<%= link_to "Instructor", courses_path, class: "btn btn-lg btn-default btn-block" %>
			</p>
		</div>

		<div class="col-md-4">		
			<p>
				<%= link_to "Administrator", admin_path, class: "btn btn-lg btn-default btn-block"  %>
			</p>
		</div>
	</div>
</div>
