<div class="site-wrapper">
      <div class="site-wrapper-inner">

        <div class="cover-container text-center col-xs-10 col-xs-push-1">

          <div class="inner cover" id="banner">
            <h1 class="cover-heading">MCIT Waiver Application</h1>
            <p class="lead">I am a...</p>
            <p class="lead">
              <%= link_to "Student", new_waiver_path, class: "btn btn-lg btn-default" %>
              <%= link_to "Instructor", courses_path, class: "btn btn-lg btn-default" %>
              <%= link_to "Administrator", admin_path, class: "btn btn-lg btn-default"  %>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
            </div>
          </div>

        </div>
      </div>
  </div>
