<p id="notice"><%= notice %></p>

<p>
  <b>Waiver class:</b>
  <%= @mcit_class.waiver_class %>
</p>


<%= link_to 'Edit', edit_mcit_class_path(@mcit_class) %> |
<%= link_to 'Back', mcit_classes_path %>
