<h1>Admin#home</h1>

<h2>Instructors</h2>
<ul>
	<li>
		<%= link_to "Add New Instructor", new_user_registration_path %>
	</li>

	<li>
		<%= link_to "Remove Instructor", cancel_user_registration_path %>
	</li>
</ul>

<h2>Courses</h2>
<ul>
	<li>
		<%= link_to "Add New Course", new_course_path %>
	</li>
</ul>

<h2>Waivers</h2>
<ul>
	<li>
		<%= link_to "List of All Waivers", waivers_path %>
	</li>
</ul>