// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

input:focus,
select:focus,
textarea:focus,
button:focus a:focus{
    outline: none;
    background-color: transparent;
}

a:hover, li:hover { 
	background-color: transparent;
}

a { 
	background-color: transparent;
}