// Place all the styles related to the Waivers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#waiver_documentation {
	display: none;
}
#waiver_transcript {
	display: none;
}
#waiver_additional_documentation {
	display: none;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    border: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

textarea, input { 
outline: none; 
}